<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review Scrapper</title>
    <style>
        *{
        margin : 0;
        padding : 0;
        }
        h1{
         padding: 1rem 0;
         text-align: center;
         background-color:blue;
        }
        form{
            padding: 1rem 0;
            text-align: center;
            background-color:yellow;
        }
    </style>
</head>
<body>
        <h1>Review Scrapper</h1>
        <form action="/review" method="post">
            <input type="text" name="search_string" >
            <input type="submit" value="Get Reviews">
        </form>
</body>
</html>
